<div class="row">
  <div class="col-12 border border-secondary p-3">
    <div class="row p-3" id="scroll1" style="height: 302px;overflow: scroll">
        <table class="table">
          <thead>
          <tr>
            <th scope="col" class="text text-center">Id</th>
            <th scope="col" class="text text-center">Title</th>
            <th scope="col" class="text text-center">Count</th>
            <th scope="col" class="text text-center">Priceout</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items">
            <th scope="row" class="text text-center"><a>{{item.id}}</a></th>
            <td class="text text-center" (click)="ItemName(this.item.title)">{{item.title}}</td>
            <td class="text text-center">{{item.count}}</td>
            <td class="text text-center">{{item.priceOut}}</td>
          </tr>
          </tbody>
        </table>
  </div><br>
    <div class="">
      <div class="text text-right"> Поиск:<input type="text" style="float: right;width: 33%;"></div>
    </div>
</div>
</div>

