<!--<p>category works!</p>-->
  <div class="row" style="height: 350px; overflow-y: auto;overflow-x: auto">
    <div class="col-12 border border-secondary">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" class="text text-center">Id</th>
          <th scope="col" class="text text-center">Name</th>
          <th scope="col" class="text text-center">Description</th>
          <th scope="col" class="text text-center">ParentId</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
          <th scope="row" class="text text-center"><a >{{category.id}}</a></th>
          <td class="text text-center">{{category.name}}</td>
          <td class="text text-center">{{category.description}}</td>
          <td class="text text-center">{{category.parentId}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>




