<!--<p>menu works!</p>-->
  <div class="wrapper p-3">
    <nav id="sidebar">
      <ul class="list-unstyled-components">
        <li class="active">
          <a  class="icon">Tovari</a>
          <ul class="list-unstyled">
            <hr class="divider">
            <li>
              <a routerLink="">prodaja</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">prodaji</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">zakupki</a>
            </li>
          </ul>
          <hr class="divider">
        </li>
        <li class="active">
          <a class="icon">Finansi</a>
          <ul class="list-unstyled" >
            <hr class="divider">
            <li>
              <a routerLink="">h2</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">h2</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">h2</a>
            </li>
          </ul>
          <hr class="divider">
        </li>
        <li class="active">
          <a class="icon">Spravochniki</a>
          <ul class="list-unstyled" >
            <hr class="divider">
            <li>
              <a routerLink="">h3</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">h3</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">h3</a>
            </li>
          </ul>
          <hr class="divider">
        </li>
      </ul>
    </nav>
  </div>

