<!--<p>menu works!</p>-->
  <div class="wrapper" >
    <nav id="sidebar" >
      <ul class="list-unstyled-components">
        <li class="active">
          <a  class="icon">Товары</a>
          <ul class="list-unstyled">
            <hr class="divider">
            <li>
              <a routerLink="">Продажа</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">Продажи</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">Закупки</a>
            </li>
          </ul>
          <hr class="divider">
        </li>
        <li class="active">
          <a class="icon">Финансы</a>
          <ul class="list-unstyled" >
            <hr class="divider">
            <li>
              <a routerLink="">Приход</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">Расход</a>
              <hr class="divider">
            </li>
          </ul>
        </li>
        <li class="active">
          <a class="icon">Справочники</a>
          <ul class="list-unstyled" >
            <hr class="divider">
            <li>
              <a routerLink="">Группы</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">Группы товары</a>
              <hr class="divider">
            </li>
            <li>
              <a routerLink="">Поставщики</a>
            </li>
          </ul>
          <hr class="divider">
        </li>
      </ul>
    </nav>
  </div>

