
<form [formGroup]="loginForm"  novalidate (ngSubmit)="prodat()">
  <div class="form-group">
    <input type="text" class="input"  name="name" formControlName="phone" placeholder="Phone number..."/></div>
</form>
       <div class="row border border-secondary" id="scroll1"  style="min-width: 60%;height: 410px;overflow-x: auto;top: 5px">
         <div class="col-12 p-3" style="height: 508px">
           <div class="table">
             <div *ngFor="let item of items">
             <tr (click)="removeItem(item)">
               <td class="text text-center" >{{item.title}}</td>
               <td class="text text-center">{{item.count}}</td>
               <td class="text text-center">{{item.priceOut}}</td>
             </tr>
               <span >
                 <span>-</span><span>1</span><span>+</span>
               </span>
             </div>
           </div>
         </div>
       </div>
     <div class="row p-3 mainPrice">
      <div class="row r">
        <div class="col-4 border border-secondary text-center"><button (click)="add()" class="btn1"><a>Добавить товара</a></button></div>
        <div class="col-4 border border-secondary text-center"><button (click)="delete()" class="btn1"><a>Удалить товара</a></button></div>
        <div class="col-4 border border-secondary text-center"><button (click)="clear()" class="btn1"><a>Очистить</a></button></div>
      </div>
      <div class="row r">
        <div class="col-4 border border-secondary text-center"><button (click)="change()" class="btn1"><a>Изменить товара</a></button></div>
        <div class="col-4 border border-secondary text-center"><button class="btn1"><a>Резервирование товара</a></button></div>
        <div class="col-4 border border-secondary text-center"><button class="btn1"><a>Оплата</a></button></div>
      </div>
      <div class="row r">
        <div class="col-12 border border-secondary text-center"><button class="btn2"><a>Печать</a></button></div>
      </div>
      <div class="row r">
        <div class="col-12 border border-secondary" style="height: 112px">
          <div>
            <h1 style="font-size: 84px" class="text-right text-danger">{{sum}}</h1>
          </div>
        </div>
      </div>
     <div class="row r">
        <div class="col-12 border border-secondary">
          <button class="btn2" (click)="prodat()"><h3 class="text-center">Прoдать</h3></button>
        </div>
      </div>
      </div>
