
.r{
  min-width: 100%;

}

.table{
  height: 508px;
  width: 80%;
}

.btn1{
  width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.col-4{
  padding: 0;
}
.col-12{
  padding: 0;
}
.btn2{
  display: block;
  width: 100%;
}
.mainPrice{
  padding: 0 !important;
  margin-left: 0;
  margin-right: -30px;

}
