<!--<p>order-list works!</p>-->

       <div class="row border border-secondary" style="width: 923px;height: 485px;overflow-x: auto">
         <div class="col-12" style="height: 508px;width: 920px">
           <div class="table">
<!--             <p *ngFor="let order of orders">-->
<!--               {{order.title}}-->
<!--             </p>-->
           </div>
         </div>
       </div>
     <div class="row p-3">
      <div class="row r">
        <div class="col-4 border border-secondary text-center"><button class="btn1"><a>Добавить товара</a></button></div>
        <div class="col-4 border border-secondary text-center"><button class="btn1"><a>Удалить товара</a></button></div>
        <div class="col-4 border border-secondary text-center"><button class="btn1"><a>Очистить</a></button></div>
      </div>
      <div class="row r">
        <div class="col-4 border border-secondary text-center"><button class="btn1"><a>Изменить товара</a></button></div>
        <div class="col-4 border border-secondary text-center"><button class="btn1"><a>Резервирование товара</a></button></div>
        <div class="col-4 border border-secondary text-center"><button class="btn1"><a>Оплата</a></button></div>
      </div>
      <div class="row r">
        <div class="col-12 border border-secondary text-center"><button class="btn2"><a>Печать</a></button></div>
      </div>
      <div class="row r">
        <div class="col-12 border border-secondary">
          <h1 style="font-size: 70px" class="text-right text-danger">0,00</h1>
        </div>
      </div>
     <div class="row r">
        <div class="col-12 border border-secondary">
          <button class="btn2"><h3 class="text-center">Прoдать</h3></button>
        </div>
      </div>
      </div>
