<!--<p>order-list works!</p>-->

      <div class="row border p-3">
          <div class="col-12 t d-flex text-center">
            <div class="table"><img src="https://via.placeholder.com/150/92c952">
              <p>accusamus beatae ad facilis cum similique qui sunt</p></div>
            <div class="table"><img src="https://via.placeholder.com/150/771796">
              <p>reprehenderit est deserunt velit ipsam</p></div><div class="table">
            <img src="https://via.placeholder.com/150/24f355"><p>officia porro iure quia iusto qui ipsa ut modi</p>
          </div><div class="table"><img src="https://via.placeholder.com/150/d32776">
            <p>culpa odio esse rerum omnis laboriosam voluptate repudiandae</p></div><div class="table">
            <img src="https://via.placeholder.com/150/f66b97"><p>natus nisi omnis corporis facere molestiae rerum in</p></div></div>
        </div>
      <div class="row">
        <div class="col-4 border border-secondary text-center"><a>Добавить товара</a></div>
        <div class="col-4 border border-secondary text-center"><a>Удалить товара</a></div>
        <div class="col-4 border border-secondary text-center"><a>Очистить</a></div>
      </div>
      <div class="row">
        <div class="col-4 border border-secondary text-center"><a>Изменить товара</a></div>
        <div class="col-4 border border-secondary text-center"><a>Резервирование товара</a></div>
        <div class="col-4 border border-secondary text-center"><a>Оплата</a></div>
      </div>
      <div class="row">
        <div class="col-12 border border-secondary text-center"><a>Печать</a></div>
      </div>
      <div class="row">
        <div class="col-12 border border-secondary">
          <h1 class="text-right text-danger">0,00</h1>
        </div>
      </div>
     <div class="row">
        <div class="col-12 border border-secondary">
          <h3 class="text-center">Прoдать</h3>
        </div>
      </div>


