.input{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.alert-danger{
  border-radius: 10px;
}

.btn-default{
  outline: none;
}

.custom-select {
  display: none;
}


#scroll1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#scroll1::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

#scroll1::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: darkgray;
}
