<!--<p>rasxod works!</p>-->
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="padding-left: 0">
      <app-menu></app-menu>
    </div>
    <div style="width: 83%">
      <div style="width: 876px;display: flex">
        <div style="width: 20%">
          <p>Расход Сумму</p>
          <input type="text" style="padding: 5px;border: #37B5A5 2px solid;border-radius: 5px" [(ngModel)]="outComing" placeholder="Расход сумму...">
        </div>
        <div style="margin-left: 7%">
          <p>Расход описание</p>
          <textarea type="text" style="padding: 5px;border: #37B5A5 2px solid;border-radius: 5px" [(ngModel)]="description"  placeholder="описание..."></textarea>
        </div>
        <div style="margin-left: 7%;margin-top: 40px">
          <button class="btn btn-info" (click)="remove()">Удалять</button>
        </div>
      </div>
      <div style="height: 77vh; overflow-x: auto;width: 100%" id="scroll1">
        <table class="table_dark">
          <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Выходящий</th>
            <th>Описание</th>
          </tr>
          <tr *ngFor="let list of this.outComingCashItemsList | filter:description" (click)="takeMe(list.sectionId)">
            <td>{{list.sectionId}}</td>
            <td>{{list.date}}</td>
            <td>{{list.outComing}}</td>
            <td>{{list.description}}</td>
          </tr>
        </table>
      </div>
    </div>



  </div>
</div>
