.input{
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.alert-danger{
  border-radius: 10px;
}

.btn-default{
  outline: none;
}

.custom-select {
  display: none;
}

.form-group{
  display: flex;
}
