<!--<p>kasi works!</p>-->
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="padding-left: 0">
      <app-menu></app-menu>
    </div>


    <div style="width: 83%">
      <div>
        <p>Расход Сумму</p>
        <input type="text" style="padding: 5px;border: #37B5A5 2px solid;border-radius: 5px" [(ngModel)]="search" placeholder="Search...">
      </div><br>
      <div style="height: 77vh; overflow-x: auto;width: 100%" id="scroll1">
        <table class="table_dark">
          <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Transfer</th>
            <th>user</th>
            <th>incoming</th>
            <th>outcoming</th>
          </tr>
          <tr *ngFor="let list of this.service.transferList | filter:search">
            <td>{{list.id}}</td>
            <td style="width: 21%">{{list.date}}</td>
            <td><button class="btn btn-outline-warning btn-block" routerLink="/listKasi" (click)="takeMe(list.id, list.user.name, list.incoming, list.outcoming)">трансферы</button></td>
            <td>{{list.user.name}}</td>
            <td>{{list.incoming}}</td>
            <td>{{list.outcoming}}</td>
          </tr>
        </table>
      </div>
    </div>






  </div>
</div>
