
<div class="container-fluid">
  <div class="container">
    <div class="login-form col-md-4 offset-md-4">
      <h1 class="title">register here</h1><br>
      <form [formGroup]="registerForm"  novalidate (ngSubmit)="submitRegister()">
        <div class="form-group">
          <input type="text" class="input"  name="name" formControlName="userName" placeholder="Name"/>
        </div>
        <br>
        <div class="form-group">
          <input type="text" class="input"  name="surname" formControlName="userSurname" placeholder="surname"/>
        </div>
        <br>

        <div class="form-group">
          <input type="email" class="input"  name="email" formControlName="userEmail" placeholder="email"/>
        </div>
        <br>
        <div class="form-group">
          <input  type="password" class="input" name="password" formControlName="userPassword" placeholder="password"/>
        </div>
        <br>
        <div class="form-group">
          <button class="btn btn-primary btn-block" [disabled]="registerForm.invalid">
            Submit
          </button><br>
          <a routerLink="/login">? login</a>
        </div>
      </form>
    </div>
  </div>



</div>


