
.container{
  margin-top: 60px;
}

.login-form{
  margin-top: 60px;
  box-shadow: 0 0 10px 1px grey;
  border-radius: 5px;
  border-bottom: 20px;
  background: white;
}

.checkBox{
  width: 25%;
  padding: 10px;
  margin-top: 60px;
  border-radius: 5px;
  border-bottom: 20px;
  background: white;
}


.title{
  background: #007bbf;
  padding: 10px;
  text-align: center;
  color: #fff;
  border-radius: 0 0 10px 10px;


}
.input{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.alert-danger{
  border-radius: 10px;
}

.btn-default{
  outline: none;
}

.btn{
  outline: none;
}

a{
  color: #747474;
  text-decoration: none;
  margin-left: 40%;
}
