
<div class="container-fluid">
  <div class="container d-flex">
    <div class="login-form col-md-4">
      <h1 class="title">register here</h1><br>
      <form [formGroup]="registerForm" (click)="onSubmit()">
        <div class="form-group">
          <input type="text" class="input"  name="name" formControlName="name" placeholder="Name"/>
          <div class="" style="color: red" *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">
            Enter your name
          </div>
        </div>
        <br>
        <div class="form-group">
          <input type="text" class="input"  name="surname" formControlName="surname" placeholder="Surname"/>
          <div class="" style="color: red" *ngIf="registerForm.controls['surname'].invalid && registerForm.controls['surname'].touched">
            Enter your surname
          </div>
        </div>
        <br>

        <div class="form-group">
          <input type="text" class="input"  name="login" formControlName="login" placeholder="Login"/>
          <div class="" style="color: red" *ngIf="registerForm.controls['login'].invalid && registerForm.controls['login'].touched" >
            Enter your login
          </div>
        </div>
        <br>
        <div class="form-group">
          <input  type="password" class="input" name="password" formControlName="password" placeholder="Password"/>
          <div class="" style="color: red" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
            Enter your password
          </div>
        </div>
        <br>
        <div class="form-group">
          <p class="text text-center text-danger">{{errors}}</p>
          <button type="button" routerLink="/login" [disabled]="registerForm.invalid"  class="btn btn-primary btn-block">
            Submit
          </button><br>
          <a routerLink="/login">? login</a>
        </div>
      </form>

    </div>
    <div class="checkBox">
        <div *ngFor="let check of checkboxes" style="display: flex">
          <div><mat-checkbox (click)="getId(this.check.id)">{{check.name}}</mat-checkbox></div>
        </div>
  </div>
  </div>

</div>


